.header {
  height: 15%;
  display: flex;
  flex-direction: row;
  /* align-content: space-between; */
  justify-content: space-evenly;
}
.header-photo {
  width: 17%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-photo-photo {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit: cover;
}
.header-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-info-name {
  font-size: 2rem;
}
.header-info-description {
  color: #777;
}

.header-contacts {
  width: 35%;
  justify-content: flex-end;
}
