.section {
  width: 48%;
  /* height: 30%; */
}
.section-title {
  font-weight: bold;
  border-bottom: 3px solid #555;
  text-transform: uppercase;
  padding-left: 10px;
  margin-bottom: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.3rem;
}
.section-body {
  padding-left: 4%;
  margin-top: 0.7rem;
}
